{% extends '_base.html' %}

{% block signInForm %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" role="form" action="/" method="post">
                {{ form.csrf_token }}
                <span class="login100-form-title p-b-26">Sign in to Twitter</span>
                <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                    {{ form.name(placeholder="Name") }}
                    {% if form.name.errors %}
                        <span class="error">
                        {% for error in form.name.errors %}
                            {{ error }}
                        {% endfor %}
                        </span>
                    {% endif %}
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    {{ form.password(placeholder="Password") }}
                    {% if form.password.errors %}
                        <span class="error">
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                        </span>
                    {% endif %}
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn">
                        </div>
                        <button class="login100-form-btn" type="submit">Login</button>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <span class="txt1">Don't have an account?</span>
                    {% if not session.loggedIn %}
                        <a class="txt2" style="color:skyblue;font-style:italic;" href="/register/" role="button">Sign Up</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock signInForm %}

{% block content %}
{% endblock content %}