{% extends '_base.html' %}

{% block content %}
    <div class="container profie-form">
        <form action="{{ url_for('users.postTweet', username=session.name) }}" method="post">
            {{ form.csrf_token }}
            <div class="input-group">
                {{ form.tweet(placeholder="What's happening?", class="form-control") }}
                {% if form.tweet.errors %}
                    <span class="error">
                        {% for error in form.tweet.errors %}
                            {{ error }}
                        {% endfor %}
                    </span>
                {% endif %}
                <span class="input-group-btn">
                    <input class="btn btn-default profile-btn profile-btn-1" type="submit" value="Submit">
                </span>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% for tweet in allTweets %}
                    {% if tweet.poster.userName == session.name %}
                        <div class="media">
                            <div class="media-body">
                                <h5><span class="tweeter-name">{{ tweet.poster.userName }}</span> <sup class="tweet-date">{{ tweet.delta_time(tweet.tweetTime) }} <a href="{{ url_for('users.deleteTweet', username=session.name, tweetId=tweet.tweetId )}}">Delete</a></sup></h5>
                                <h4 class="tweeter-tweet">{{ tweet.tweet }}</h4>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        <h3 class="tweeter-follow-suggestion">Suggestions</h1>
        <div class="row">
            {% for user in users %}
                <div class="media">
                    <div class="media-body">
                        {% if user.userName != session.name %}
                            <h4><span class="tweeter-name">{{ user.userName }}
                            {% if user.isFollow(session.user_id, user.id) %}
                                <sup class="tweet-date"><a href="{{ url_for('users.unfollowUser', user_id=user.id )}}">Unfollow</a></sup></h4>
                            {% else %}
                                <sup class="tweet-date"><a href="{{ url_for('users.followUser', user_id=user.id )}}">Follow</a></sup></h4>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}